.message-input {
	background: #ec8d4e;
	color: crimson;
	box-sizing: border-box;
	height: 10vh;
	max-height: 30px;
}
.message-input .message-form {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.message-input .message-form .form-control {
	padding-top: 20px;
	padding-bottom: 20px;
	resize: none;
	padding-left: 15px;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	border: none;
	background-color: #ec8d4e;
	color: crimson;
}
.message-input .message-form .form-control::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #cac8ee;
}
.message-input .message-form .form-control::-webkit-scrollbar {
	width: 5px;
	background-color: green;
}
.message-input .message-form .form-control::-webkit-scrollbar-thumb {
	background-color: #484d79;
}
.message-input .message-form .form-control:focus {
	outline: none;
}
.message-input .message-form .send {
	width: 20%;
	box-sizing: border-box;
	font-size: 1.25em;
	text-align: center;
	border: none;
	height: 100%;
	color: #fff;
	background: #3e3e5e;
	transition: all 0.35s ease-out;
}
.message-input .message-form .send:disabled {
	opacity: 0.2;
	background: #5d5d8a;
}
