.movie-list {
	margin: 5%;
	margin-top: 8%;
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-template-rows: repeat(2, 300px);
}
#filter-input {
	width: 40%;
	margin: 10% 0% -5% 0%;
	padding: 12px 20px;
	display: inline-block;
	border: 1px solid gold;
	border-radius: 15px;
	box-sizing: border-box;
}
