input[type='text'],
input[type='password'] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
}

button {
    background-color: crimson;
    color: gold;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 25%;
}

button:hover {
    opacity: 0.8;
}

.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    font-size: 70%;
}

.help {
    padding: 5px;
    width: 100px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
.App-register {
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
    padding: 60px 60px 40px 60px;
    background: -webkit-linear-gradient(top, #ec8c7c, #e2c067);
    background: -o-linear-gradient(top, #ec8c7c, #e2c067);
    background: -moz-linear-gradient(top, #ec8c7c, #e2c067);
    background: linear-gradient(top, #ec8c7c, #e2c067);
    margin: 15% auto;
}
@media only screen and (max-width: 680px) {
    .App-register {
        width: 300px;
    }
}
.App-register > a {
    color: crimson;
}
